@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;

  --ai-cyan: #22d3ee;
  --ai-blue: #3b82f6;
  --ai-purple: #8b5cf6;
  --ai-orange: #f97316;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;

  background:
    radial-gradient(
      circle at 70% 20%,
      rgba(59, 130, 246, 0.07),
      transparent 30%
    ),
    radial-gradient(
      circle at 20% 70%,
      rgba(249, 115, 22, 0.04),
      transparent 25%
    ),
    #020617;

  color: var(--foreground);

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  overflow-x: hidden;
}

::selection {
  background: rgba(34, 211, 238, 0.25);
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      #06b6d4,
      #f97316
    );

  border-radius: 999px;
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 100px;
}